.about-us-body {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.about-us-body > p {
  padding-bottom: 1rem;
}

.about-us-image {
  width: 400px;
}

@media only screen and (max-width: 500px) {
  .about-us-image {
    width: 300px;
  }
}