form {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

form > label {
  text-align: left;
  color: white;
}

input[type=submit] {
  background: #C3E5DA;
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.5rem;
  max-width: 230px;
  padding: 0.5rem 1rem;
}

label > input {
  border-radius: 0.5rem;
  border: none;
  width: 100%;
}