.login-form {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.login-form > label {
  text-align: left;
  color: white;
}

.form-submit-button {
  background: #C3E5DA;
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.5rem;
}

label > input {
  border-radius: 0.5rem;
  border: none;
  width: 100%;
}